# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
.pytest_cache/
.mypy_cache/

# ==========================
# Banco de Dados
# ==========================
*.db

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Ambiente
# ==========================
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# JetBrains
# ==========================
.idea/

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Node.js
# ==========================
node_modules/
dist/

# ==========================
# Build
# ==========================
build/
coverage/